body {
    background: url(images/bg.png);
    overflow: scroll;
}

.shell {
    padding: 50px 30px;
    width: 1000px;
    height: 900px;
}

.chat {
    float: left;
    width: 73%;
    height: 63.7%;
    padding-left: 20px;
    overflow-x: hidden;;
    overflow-y: auto;
    background: moccasin;
    border: #000000;
    border-style: solid;
    border-width: 1px;
    border-bottom: none;
    word-wrap: break-word;
}

.panelMessage {
    float: left;
    width: 73%;
    height: 11.2%;
    padding-left: 20px;
    background: #000000;
    border-style: solid;
    border-width: 1px;
}

.online {
    float: left;
    height: 75%;
    width: 20%;
    background: #000000;
    border: #000000;
    border-style: solid;
    border-width: 1px;
    border-right: none;
}

.green {
    color: yellowgreen;
}

.users {
    height: 76%;
    width: 100%;
    background: moccasin;
    overflow: scroll;
}

.isServerON {
    width: 80px;
}

.center {
    text-align: center;
}

.fat {
    font-weight: bold;
}

.unvisable {
    visibility: hidden;
}

.border1 {
    border: solid 1px  #c09853;
}

.border2 {
    border: solid 1px  #62c462;
}
.enterLogin {
    white-space: nowrap;
}
.textArea {
    resize: none; /* Запрещаем изменять размер */
    min-height: 80px;
    max-width: 1000px;
    min-width: 650px;
    text-align: start;
}
