body {
    background-color: #aedd94;
    background: url(images/bg.png);
}

.authorization {
    width: 40%;
    height: 60%;
}

.chat {
    position: fixed;
    top: 30%;
    left: 33%;
    width: 60%;
    height: 50%;
    padding-left: 20px;
    background: moccasin;
    overflow: scroll;
    border: #000000;
    border-style: solid;
    border-width: 1px;
}

.inputMessage {
    position: fixed;
    bottom: 9.8%;
    left: 33.05%;
    width: 61.7%;
    height: 9.8%;
    background: #000000;
    border: yellowgreen;
    border-style: solid;
    border-width: 1px;
}

.message {
    width: 65%;
}

.button {
    width: 90px;
}

.online {
    position: fixed;
    top: 30%;
    left: 15%;
    width: 18%;
    height: 60%;
    background:#000000;
    border: #000000;
    border-style: solid;
    border-width: 1px;
}

.users {
    height: 65%;
    background:moccasin;
    overflow: scroll;
}

.server {
    position: fixed;
    bottom: 5%;
    width: 80px;
}