body {
    color: #8f8f8f;
    background-color: #aedd94;
    background: url(images/bg.png);
}

#author {
    position: absolute;
    color: #000000;
    height: 32px;
    padding: 20% 35%;
    width: 50%;
}

.enter {
    border: 1px solid #333333;
    padding: 5px 15px;
    background-color: #fcfff4;
    text-decoration: none;
    color: #000000;
}

.enter:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce);
    color: #a00000;
}

.newUser {
     border: 1px solid #333333;
     padding: 5px 15px;
     background-color: #fcfff4;
     text-decoration: none;
     color: #000000;
 }

.newUser:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */
    color: #a00000;
}
